<div class="header">
    <h2 mat-dialog-title>Add Member</h2>
    <mat-icon class="header__button--option icon__close" mat-dialog-close
        >close</mat-icon
    >
</div>
<mat-dialog-content>
    <form class="form" [formGroup]="memberForm">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Rank</mat-label>
            <input matInput type="number" formControlName="rank" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Level</mat-label>
            <mat-select class="select" formControlName="level">
                <mat-option
                    class="select__item"
                    *ngFor="let level of levels"
                    value="{{ level }}"
                    >{{ level | titlecase }}</mat-option
                >
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addMember()">
            Add Member
        </button>
    </form>
</mat-dialog-content>
